<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Attendance Dashboard | By Code Info</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link  href= "home.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="home">
    <%- include('partials/header') %> 
    <div class="mainContainer">
    <span class="ActivityTrackerTitle">Activity Tracker</span>
    <div class="mainCard">
      <form action="" class="trackerForm">
        <div class="loginTime">
          <p>Login Time</p>
          <input placeholder="enter login time"/>
        </div>
        <div class="Logout time">
          <p>Logout Time</p>
          <input placeholder="enter logout time"/>
        </div>

      </form>
    </div>
  </div>

</div>

</body>
</html>