<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Attendance Dashboard | By Code Info</title>
  <link rel="stylesheet" href="projects.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
 <div class="home"  >
    <%- include('partials/header') %> 
    <div class="mainContainer">
        
        <div class="subcontainer">
            <section class="projects">
                <div class="projects-list">
                  <h1>Projects List</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>S.NO</th>
                        <th>PROJECT NAME</th>
                        <th>TEAMS NAME</th>
                        <th>EMPLOYEE NAME</th>
                        <th>DEPART</th>
                        <th>EMPLOYEE.ID</th>
                        <th>EMAIL</th>
                     
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                        </tr> 
                  </tboby>
                  </table>
                </div>
            </section>
        
        </div>

    </div>
    
 </div> 
  
  </body>
</html>
