<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Attendance Dashboard | By Code Info</title>
  <!-- <link rel="stylesheet" href="home.css" /> -->
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link  href= "teams.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="home">
    <%- include('partials/header') %> 
    <div class="mainContainer">
    <span class="ActivityTrackerTitle">Teams list</span>
    <div class="Subcontainer">
      <section class="Team-A">
        <div class="Team-A-list">
          <h4>Team:A List</h4>
          <table class="table">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>NAME</th>
                <th>DEPART</th>
                <th>EMPLOYEE.ID</th>
                <th>EMAIL</th>
                <th>PHONE NO</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" placeholder="" name="uname" required></td>
                <td><input type="text" placeholder="" name="uname" required></td>
                <td><input type="text" placeholder="" name="uname" required></td>
                <td><input type="text" placeholder="" name="uname" required></td>
                <td><input type="text" placeholder="" name="uname" required></td>
                <td><input type="text" placeholder="" name="uname" required></td>
                <td><button>View</button></td>

               </tr> 
          </tboby>
          </table>
        </div>
      </section>
      <section class="Team-B">
        <div class="Team-B-list">
          <h4>Team:B List</h4>
          <table class="table">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>NAME</th>
                <th>DEPART</th>
                <th>EMPLOYEE.ID</th>
                <th>EMAIL</th>
                <th>PHONE NO</th> 
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr> 
          </tboby>
          </table>
        </div>
      </section>
      <section class="Team-C">
        <div class="Team-C-list">
          <h4>Team:C List</h4>
          <table class="table">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>NAME</th>
                <th>DEPART</th>
                <th>EMPLOYEE.ID</th>
                <th>EMAIL</th>
                <th>PHONE NO</th> 
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr> 
          </tboby>
          </table>
        </div>
      </section>
      
    </div>
  </div>

</div>
    
</body>
</html>