
.main{
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: antiquewhite;
  }
  .main h1{
  text-align: center;
  
  }
  .main .users{
    position: relative;
    display: flex;
    width: 100%;
    right: 20px;
    left: 600px;
  }
  .users .card{
    
    width: 25%;
    margin: 30px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .users .card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .users .card h4{
    text-transform: uppercase;
  }
  .users .card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .users table{
    margin:  auto;
  }
  .users .per span{
    padding: 5px;
    border-radius: 10px;
    background: rgb(167, 109, 109);
  }
  .users td{
    font-size: 14px;
    padding-right: 15px;
  }
  .users .card button{
    width: 100%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #4AD489;
  }
  .users .card button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5s;
  }
  
  